{% extends '@PrestaShop/Admin/layout.html.twig' %}

{% block content %}
    {% block quotes_list_panel %}
        <div class="row">
            <div class="col" >
                {% include '@PrestaShop/Admin/Common/Grid/grid_panel.html.twig' with {'grid': quoteGrid} %}

            </div>
        </div>
    {% endblock %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('/modules/mymodule/views/mymodule_grid.bundle.js') }}"></script>
    <script src="{{ asset('themes/default/js/bundle/pagination.js') }}"></script>
{% endblock %}
