{% extends '@PrestaShop/Admin/layout.html.twig' %}

{% block content %}
    {% trans_default_domain 'Modules.Mymodule' %}
    <h1>{{ 'Welcome to my module page!'|trans}}</h1>
    <p>{{'This is a custom page from my module.'|trans}}</p>
{% endblock %}
